@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
  --text-dark: #303030;
  --text-light: #555;
  --accent-color: #ff8400;
  --background-overlay: rgba(255, 255, 255, 0.9);
}

body {
  font-family: var(--secondary-font);
  background-image: url("/gray.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

